img {
    height: 100px;
    width: 100px;
}

div .card {
    padding: 5px;
    display: inline-block;
    width: 40%;
    border-radius: 5px;
    border-color: black;
    background-color: midnightblue;
    margin: 5px;
}
.description {
    display: inline-block;
}

.artist {
    float: bottom;
}