img {
    height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
}
section {
    display: flex;
    flex: 0 1 25%;
    background-color: cadetblue;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 6;
}

div .card {
    padding: 5px;
    display: inline-block;
    width: 40%;
    border-radius: 5px;
    border-color: black;
    background-color: midnightblue;
    margin: 5px;
}
.description {
    display: inline-block;
}

.artist {
    float: bottom;
}